@use '../../uken-icons.scss';

.container-icon {
  position: relative;
  display: inline-block;
}

.badge {
  font-family: var(--font-primary);
  position: absolute;
  top: -4.5px;
  right: -5px;
  border: 1px solid var(--color-white);
  background-color: var(--color-red);
  color: var(--color-white);
  border-radius: 50%;
  padding: 0 2px;
  font-size: 9px;
}
