@import '../../styles/vars.css';

* {
  box-sizing: border-box;
}

.input-container {
  position: relative;
  width: 289px;

  @media (min-width: 640px) and (max-width: 1199px) {
    transform: scaleY(0);
    transform-origin: top;
    transition: var(--animation);

    &.is-open {
      transform: scaleY(1);
    }
  }
}

.input-icon {
  position: absolute;
  top: 10px;
  left: 16px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-icons);
  pointer-events: none;
}

.input {
  border: 1px solid var(--color-elements);
  border-radius: var(--space-xs);
  height: var(--input-height);
  padding-left: 44px;
  background-color: var(--color-hover-bg);
  font-family: var(--font-primary);
  font-weight: var(--fw-medium);
  font-size: var(--button-size);
  line-height: 1.5;
  color: var(--color-primary);
  width: 100%;
  outline: transparent;
}

.input:hover,
.input:focus {
  border-color: var(--color-icons);
}
