.add-to-cart-button {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: var(--radius-sm);
  font-size: var(--button-size);
  font-weight: var(--fw-bold);
  cursor: pointer;
  width: 126px;
  height: var(--button-height);
  line-height: var(--button-line-height);

  @media (min-width: 640px) {
    width: 160px;
  }

  &:hover {
    box-shadow: 0 3px 13px 0 #17203166;
  }
  &.added {
    background-color: var(--color-white);
    color: var(--color-green);
    border: 1px solid var(--color-elements);
  }
}
