@use '../../styles/utils/mixins' as *;

.favourites__title {
  font-size: 32px;

  line-height: 41px;
  letter-spacing: -0.01em;
  margin-bottom: 8px;

  @include on-tablet {
    font-size: 48px;

    line-height: 56px;
    letter-spacing: -0.02em;
  }
}

.favourites__subtitle {
  line-height: 21px;
  color: var(--color-secondary);
  margin-bottom: 32px;

  @include on-tablet {
    margin-bottom: 40px;
  }
}

.favourites__list {
  grid-template-columns: repeat(1, 214px);
  justify-content: center;
  justify-items: center;
  gap: 24px;
  display: grid;

  @include on-tablet {
    grid-template-columns: repeat(2, 288px);
    gap: 40px 16px;
  }

  @include on-desktop {
    grid-template-columns: repeat(4, 272px);
  }
}
