@use '../../styles/utils/mixins' as *;
@import '../../styles/vars.css';

.productCard {
  position: relative;
  border: 1px solid var(--color-elements);
  border-radius: var(--radius-lg);
  padding: 20px;
  background: var(--color-white);
  width: 214px;

  &:hover {
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);
    background: var(--color-white);
  }

  @include on-tablet {
    width: 272px;
    padding: 31px;
  }
}

.productCard__imageWrapper {
  width: 174px;
  height: 185px;
  margin-bottom: 16px;

  border-radius: var(--radius-md);
  overflow: hidden;
  background: var(--color-elements);

  @include on-tablet {
    width: 208px;
    height: 263px;
  }
}

.productCard__audioImg {
  position: absolute;
  top: 31px;
  right: 24px;
  border-radius: 100%;
  background-color: var(--color-green);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.productCard__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productCard__imagePlaceholder {
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    45deg,
    #e0e0e0 0,
    #e0e0e0 10px,
    #f5f5f5 10px,
    #f5f5f5 20px
  );
}

.productCard__name {
  font-weight: var(--fw-bold);
  font-size: 16px;

  line-height: 24px;
  color: var(--color-primary);
}

.productCard__author {
  font-weight: var(--fw-medium);
  font-size: 14px;

  line-height: 21px;
}

.productCard__prices {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 2px;
}

.productCard__price {
  font-weight: var(--fw-semibold);
  font-size: 20px;
  color: var(--color-primary);

  @include on-tablet {
    font-size: 22px;
    line-height: 31px;
  }
}

.productCard__oldPrice {
  font-weight: var(--fw-semibold);
  font-size: 16px;
  font-size: var(--body1-size);
  color: var(--color-secondary);
  text-decoration: line-through;

  @include on-tablet {
    font-size: 20px;
  }
}

.productCard__stock-text {
  font-weight: var(--fw-bold);
  font-size: 14px;

  line-height: 21px;
  margin-left: 8px;
  text-align: center;
  color: var(--color-green);
}

.productCard__stock {
  color: var(--color-green);
}

.productCard__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--space-sm);
}

.productCard__name,
.productCard__author {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productCard__content-wrapper {
  display: block;
  margin-bottom: 8px;
}
