:root {
  /* COLORS */
  --color-primary: #313237;
  --color-secondary: #89939a;
  --color-icons: #b4bdc3;
  --color-elements: #e2e6e9;
  --color-hover-bg: #fafbfc;
  --color-white: #fff;
  --color-green: #27ae60;
  --color-red: #eb5757;

  /* TYPOGRAPHY — FONTS */
  --font-primary: 'Manrope', sans-serif;

  /* FONT WEIGHTS (з макету видно) */
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* TYPOGRAPHY SIZES (Desktop/Tablet) */
  --h1-size: 48px;
  --h1-line-height: 56px;
  --h2-size: 32px;
  --h2-line-height: 41px;
  --h3-size: 22px;
  --h3-line-height: 31px;
  --h4-size: 20px;
  --h4-line-height: 26px;
  --body1-size: 16px;
  --body1-line-height: 24px;
  --button-size: 14px;
  --button-line-height: 21px;

  /* TYPOGRAPHY SIZES (Mobile) */
  --mob-h1-size: 32px;
  --mob-h1-line-height: 40px;
  --mob-h2-size: 24px;
  --mob-h2-line-height: 32px;
  --mob-h3-size: 20px;
  --mob-h3-line-height: 28px;
  --mob-h4-size: 18px;
  --mob-h4-line-height: 26px;

  /* UI ELEMENTS */
  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 24px;
  --input-height: 40px;
  --button-height: 40px;

  /* Spacing */
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;

  /* Breakpoints */
  --mobile: 320px;
  --tablet: 640px;
  --desktop: 1200px;

  /* Animation */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
