@use '../../styles/utils/mixins' as *;
@use '../../styles/vars.css';

.book {
  margin-top: -10px;

  @include on-desktop {
    margin-top: -40px;
  }

  &__container {
    margin-bottom: 56px;

    @include on-tablet {
      margin-bottom: 80px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 22px;

    line-height: 31px;
    margin-bottom: 6px;

    @include on-tablet {
      font-size: 32px;

      line-height: 41px;
      letter-spacing: -0.01em;
    }
  }

  &__author {
    font-weight: 500;
    font-size: 14px;

    line-height: 21px;
    opacity: 0.6;
    margin-bottom: 16px;

    @include on-tablet {
      margin-bottom: 32px;
    }
  }

  &__card {
    @include on-tablet {
      display: flex;
      gap: 32px;
      margin-bottom: 32px;
    }

    @include on-desktop {
      gap: 175px;
    }
  }

  &__price-block {
    width: 100%;
  }

  &__category {
    padding-bottom: 16px;
    border-bottom: 1px solid #e2e6e9;
  }

  &__label {
    font-weight: 700;
    font-size: 16px;

    line-height: 24px;
    color: #89939a;
    margin-bottom: 8px;
  }

  &__category-value {
    display: inline-block;
    border: 1px solid #e2e6e9;
    border-radius: 5px;
    padding: 5px 10px;
    line-height: 21px;
  }

  &__language {
    border-bottom: 1px solid #e2e6e9;
    padding-block: 16px;
    margin-bottom: 16px;
  }

  &__lang-buttons {
    display: flex;
    gap: 10px;
  }

  &__lang-btn {
    border: 1px solid #e2e6e9;
    border-radius: 5px;
    padding: 5px 10px;
    transition: all 0.2s ease;
    font-weight: 500;
    font-size: 14px;

    line-height: 21px;

    &.active {
      background: var(--color-primary);
      color: var(--color-white);
      border-color: var(--color-primary);
    }

    &:hover {
      border: 1px solid var(--color-primary);
    }
  }

  &__prices {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__price {
    font-weight: 700;
    font-size: 22px;

    line-height: 31px;

    @include on-tablet {
      font-size: 32px;
    }
  }

  &__old-price {
    font-weight: 600;
    font-size: 20px;
    text-decoration: line-through;
    color: var(--color-secondary);

    @include on-tablet {
      font-size: 22px;
    }
  }

  &__cart-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 24px;

    @include on-tablet {
      justify-content: flex-start;
    }
  }

  &__descr-list--top {
    margin-bottom: 32px;

    @include on-tablet {
      margin-bottom: 0;
    }
  }

  &__descr-item {
    display: flex;
    justify-content: space-between;
    padding-block: 6px;
    border-bottom: 1px solid #e2e6e9;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border: 0;
    }
  }

  &__descr--left {
    font-weight: 500;
    font-size: 14px;

    line-height: 21px;
    color: #89939a;
  }

  &__descr--right {
    font-weight: 500;
    font-size: 14px;

    line-height: 21px;
  }

  &__description {
    @include on-desktop {
      display: flex;
      gap: 64px;
    }
  }

  &__about {
    margin-bottom: 32px;

    @include on-tablet {
      margin-bottom: 40px;
    }

    @include on-desktop {
      margin-bottom: 0;
      max-width: 560px;
    }
  }

  &__description-title {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 16px;
    margin-bottom: 24px;
    border-bottom: 1px solid #e2e6e9;
  }

  &__about-descr {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__characteristics {
    @include on-desktop {
      width: 100%;
    }
  }
}
