html {
  cursor: url('/assets/cursor-black-white.svg'), pointer;
}

a,
button,
a:hover,
button:hover,
svg:hover,
.swiper-pagination-bullet:hover {
  cursor: url('/assets/cursor-black.svg'), pointer;
}
